<!DOCTYPE html>
<html>
  <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>New Experiment</h2>

      <form class="form-inline" action="/hypothesis" method="post">
          <div class="form-group">
           <label for="hypothesis">New Hypothesis:</label>
           <input type="text" class="form-control" name="hypothesis">
         </div>
         <br>
         <div class="form-group">
           (optional)
          <select class="form-control" name="dataX">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          and
          <select class="form-control" name="dataY">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          are
          <select class="form-control" name="corelation">
            <option>positively</option>
            <option>negatively</option>
            <option>not</option>
          </select>
          correlated.
          <br>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-default">Create Experiment</button>
      </form>
    </div>

    <h1>Current Experiments</h1>
    <ul>
      <% experiments.forEach(function(experiment) { %>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Hypothesis: <%= experiment.hypothesis %></h2>
          <div>
            Started: <%= experiment.startTime %>
            <br>

            End Experiment:
            <form class="form-inline" action="/endexperiment" method="post">
              Conclusion:
              <div class="col-10">
                <input class="form-control" type="text" value="What did you learn?" id="concluding-text">
              </div>
              Overall, we found data
              <select class="form-control" name="correlation">
                <option>did support</option>
                <option>did not support</option>
              </select>
              the hypothesis.
              <button type="submit" class="btn btn-default">Finish Experiment</button>
            </form>
          </div>
        </li>
        <% }); %>
    </ul>
</body>
</html>
