<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript-lazy">
  function testFunction(testValue,testValue2,testValue3){
    console.log("https://plantsense.herokuapp.com/finish/"+testValue);
    console.log();
    var xhttp = new XMLHttpRequest();
    xhttp.open("PUT", "https://plantsense.herokuapp.com/finish/"+testValue+"/"+testValue2+"/"+testValue3, false);
    xhttp.send();
    var response = JSON.parse(xhttp.responseText);
    location.reload();
  };
  </script>
</head>
<body>
  <h1>New Experiment</h1>
    <form class="form-inline" action="/hypothesis" method="post">
      <div class="form-group">
       <label for="hypothesis">Hypothesis:</label>
       <input type="text" class="form-control" name="hypothesis">
     </div>
     <br>
     <div class="form-group">
       <select class="form-control" name="dataX">
        <option>Time</option>
        <option>Temperature</option>
        <option>Light</option>
        <option>pH</option>
        <option>Growth</option>
        <option>Health</option>
      </select>
      Causes
      <select class="form-control" name="dataY">
        <option>Time</option>
        <option>Temperature</option>
        <option>Light</option>
        <option>pH</option>
        <option>Growth</option>
        <option>Health</option>
      </select>
      To
      <select class="form-control" name="corelation">
        <option>Increase</option>
        <option>Decrease</option>
        <option>Do nothing</option>
      </select>
      .
      <br>
    </div>
    <br>
    <br>
    <button type="submit">Create Experiment</button>
  </form>



<h1>Current Experiments</h1>
<ul>
  <% experiments.forEach(function(experiment) { %>
  <%if (!experiment.terminated) { %>

  <li>
    <input type="checkbox" checked>
    <i></i>
    <h2>Hypothesis: <%= experiment.hypothesis %></h2>
    <div>
      Started: <%= experiment.startTime %>
      <br>

      End Experiment:
      <form class="form-inline" >
        Conclusion:
          <input class="form-control" type="text" placeholder="What did you learn?" name="concluding">
        <br>
        Overall, we found data
        <select class="form-control" name="correlation">
          <option>did support</option>
          <option>did not support</option>
        </select>
        the hypothesis.
        <br>
        <button type="submit" id="finishButton" onclick="testFunction(this.form.testText.value,this.form.correlation.value,this.form.concluding.value)">Finish Experiment</button>

      </form>

    </div>
  </li>
  <% } %>
  <% }); %>
</ul>
</body>
</html>
