<!DOCTYPE html>
<html>
<head>

</head>
<body>
     <button id="render-chart" onclick="drawMaterialChart()">Change to Classic</button>
  <br><br>
  <div id="chart_div"></div>

  <div class="container">
    <h2>Recent Data Values</h2>
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
          <th>City</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <% recents.forEach(function(recent){ %>
          <tr>
          <% recent.forEach(function(datum)){ %>
            <td>
            <%= datum>
            </td>
          <% }); %>
          </tr>
        <% }); %>
        <!-- <tr>
          <td>1</td>
          <td>Anna</td>
          <td>Pitt</td>
          <td>35</td>
          <td>New York</td>
          <td>USA</td>
        </tr> -->
      </tbody>
    </table>
    </div>
  </div>

</body>
</html>
