<!DOCTYPE html>
<html>
<head>

</head>
<body>
     <button id="render-chart">Change to Classic</button>
  <br><br>
  <div id="chart_div"></div>
    <button id="render-chart" onclick="drawData()">Data</button>


</body>
</html>
