<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>


<h1>Past Experiments</h1>
<ul>
  <% experiments.forEach(function(experiment) { %>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Hypothesis: <%= experiment.hypothesis %></h2>
      <div>
        <%= experiment.startTime %>
      </div>
    </li>
    <% }); %>
</ul>

</body>
</html>
