<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>


<h1>Finished Experiments</h1>
<ul>
  <% experiments.forEach(function(experiment) { %>
  <%if (experiment.terminated) { %>

  <li>
    <input type="checkbox" checked>
    <i></i>
    <h2>Hypothesis: <%= experiment.hypothesis %></h2>
    <div>
      Started: <%= experiment.startTime %>
      <br>
      Ended: <%= experiment.endTime %>
    </div>
  </li>
  <% } %>
  <% }); %>
</ul>

</body>
</html>
