<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <!--<![endif]-->

<html ng-app="plantSense">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PlantSense</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css" rel="stylesheet">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script type="text/javascript" src = "/graphs.js"></script>

</head>

<body ng-controller="MainCtrl">

  <div ng-controller="TabCtrl">
    <tabset>
      <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" select="onTabSelected(tab.slug)">
        <div ng-include="tab.templateUrl"></div>
      </tab>
    </tabset>
  </div>
  <script type="text/javascript" charset="utf-8">
  angular.module('plantSense', ['ui.bootstrap']).config(['$routeProvider', '$locationProvider',
    function($routeProvider, $locationProvider) {
      $routeProvider.when('/', {
        controller: 'MainCtrl'
      }).when('/history', {
        controller: 'HistoryCtrl',
      }).when('/current', {
        controller:'CurrentCtrl',
      }).when('/data', {
        controller:'DataCtrl',
      }).when('/dashboard', {
        controller: 'DashboardCtrl'
      }).otherwise({
        redirectTo: '/'
      });
      $locationProvider.html5Mode(false);
    }]);

  var TabCtrl = function($scope) {
    $scope.tabs = [{
      slug: 'dashboard',
      title: "Home",
      templateUrl:'home.ejs'
    }, {
      slug: 'current',
      title: "Current Experiments",
      templateUrl:"current.ejs"
    }, {
      slug: 'data',
      title: "Data",
      templateUrl:"data.ejs"
    }, {
      slug: 'history',
      title: "Past Experiments",
      templateUrl:"history.ejs"
    }];
  };

  CurrentCtrl = function($scope, $location) {

  };

  DataCtrl = function($scope, $location) {

  };

  HistoryCtrl = function($scope, $location) {

  };

  DashboardCtrl = function($scope, $location) {
  };

  MainCtrl = function($scope, $location) {

    $scope.onTabSelected = function(tab) {
      var route;
      if (typeof tab === 'string') {
        route = tab;
            // switch (tab) {
            //   case 'dashboard':
            //     route = tab;
            //     break;
            //   default:
            //     route = 'rooms/' + tab;
            //     break;
            // }
          }
          $location.path('/' + route);
        };

      };
      </script>
    </body>
    </html>
