<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>


<h1>Log Growth</h1>

<form class="form-inline" >
 <br>
 <div class="form-group">
   <h2></h2>
  <br>
   <label for="xaxis">X-axis: </label>
   <select class="form-control" name="stringX">
    <option value="Time">Time</option>
    <option value = "Temperature">Temperature</option>
    <option value = "Light">Light</option>
    <option value = "pH">pH</option>
  </select>
  and
  <label for="yaxis">Y-axis: </label>
  <select class="form-control" name="stringY">
    <option value="Time">Time</option>
    <option value = "Temperature">Temperature</option>
    <option value = "Light">Light</option>
    <option value = "pH">pH</option>
  </select>
  <br>
  Use data from:
  <select class="form-control" name="timeSpan">
    <option value="1">the past 6 hours</option>
    <option value="2">the past day</option>
    <option value="3">the past 3 days</option>
    <option value="4">the past week</option>
    <option value="5">the past 2 weeks</option>
    <option value="6">the past month</option>
    <option value="7">the past 2 months</option>
  </select>

</div>
<br>

</body>
</html>
